*{
    padding: 0;
    margin: 0;
}

h1{
    background-color: #081b31;
    color: white;
    height: 3.2vw;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3;
    margin-top: 3rem;
 
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.9;
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;

}

#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    display: flex;
    justify-content: center;
    text-align: center;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    /* display: inline; */
}